.main {
  margin: 80px;
}

.city {
  color: white;
  font-size: 24px;
}

.temperature {
  display: flex;
  color: white;
  font-size: 120px;
  margin-top: -30px;
}

.weather-icon {
  object-fit: contain;
}

.cloud {
    color: white;
    font-size: 24px;
    margin-top: -10px;
}
