.app {
  height: 100vh;
  display: grid;
  background-image: url('https://img.freepik.com/free-photo/view-apocalyptic-dark-clouds_23-2151065800.jpg?t=st=1725287769~exp=1725291369~hmac=806097b203759318b894103702c5b5811ed5a45fe9c485e90540d423e5337b45&w=1380');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 100%;
  filter: brightness(.7);
}
